[workspace]
members = ["crates/one-good-hour-core", "crates/one-good-hour-tui", "src-tauri"]
resolver = "2"

[workspace.package]
version = "0.4.0"
edition = "2021"
license = "MIT"

[profile.release]
strip = true
lto = true
